<%# Log in page %>
<div class='center grey-box'>
  <h1>Agency Login</h1>
<br>
  <%= form_tag(login_path) do%>
    <h5>Agency Name</h5>
    <%= collection_select(:agency, :id, Agency.all, :id, :name, prompt: true) %>

    <h5>Password:</h5>
    <%= password_field_tag "password"%>
    
    <br><br>
    <%= submit_tag "Sign In"%>
  <%end%>

  <br>
  <%= link_to "New agency? Create an account!", signup_path %>
</div>