<%# Agency home page %>
<div class='grey-box center'>
  <h1>Welcome <%= @agency.name %></h1>
    <br>
  <p>What would you like to do?</p>
    <%# <br> %>
    <%= link_to "My Profile", agency_path(@agency), class: 'btn'%>
    <%= link_to "My Tours", agency_tours_path(@agency), class: 'btn' %>
    <%= link_to "New Tour", new_tour_path, class: 'btn' %>
    <%= link_to "All Customers", customers_path, class: 'btn' %>
  <br>
</div>