 <%# Sign up page %>
<div class='center grey-box'>
  <h1>Create a New Agency</h1>

  <%= render 'error' %>

  <%= form_for(@agency) do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %></p><br>

    <p><%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email" %></p><br>

    <p><%= f.label :address %>
    <%= f.text_field :address, placeholder: "Address" %></p><br>

    <p><%= f.label :phone_number %>
    <%= f.telephone_field :phone_number, placeholder: "Phone Number" %></p><br>

    <p><%= f.label :country %>
    <%= f.text_field :country, placeholder: "Country" %></p><br>

    <p><%= f.label :language %>
    <%= f.text_field :language, placeholder: "Main Language Spoken" %></p><br>

    <p><%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %></p><br>

    <p><%= f.submit "Create Agency", class: 'btn center'%>
  <% end %>
  <br>
  <%= link_to "Sign up with Google", 'auth/google_oauth2', class: 'btn' %>
  <%= link_to "Have an account? Log in here!", login_path, class: 'btn' %>
</div>