 <%# Sign up page %>
<div class='center grey-box'>
  <h1>Create a New Agency</h1>

  <%= form_for(@agency) do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name%></p><br>

    <p><%= f.label :address %>
    <%= f.text_field :address %></p><br>

    <p><%= f.label :phone_number %>
    <%= f.phone_field :phone_number %></p><br>

    <p><%= f.label :country %>
    <%= f.text_field :country %></p><br>

    <p><%= f.label :language %>
    <%= f.text_field :language %></p><br>

    <p><%= f.label :password %>
    <%= f.password_field :password %></p><br>

    <p><%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Have an account? Log in here!", login_path %>
</div>