<%# Agency show page %>
<div class='grey-box'>
  <h2 class='center'><%= @agency.name %>'s profile</h2><br>
    <ul>
      <p><strong>Email: </strong> <%= @agency.email %></p>
      <p><strong>Address:</strong> <%= @agency.address %></p>
      <p><strong>Phone Number:</strong> <%= @agency.phone_number %></p>
      <p><strong>Country:</strong> <%= @agency.country %></p>
      <p><strong>Main Language:</strong> <%= @agency.language %></p>
    </ul>
    <% if logged_in? %>
      <%= link_to "Edit Profile", edit_agency_path(@agency), class: 'btn' %>
      <%= link_to "Delete Account", agency_path(@agency), method: :delete, class: 'btn' %>
    <% end %>
    <br>
</div>