<div class='grey-box '>
  <h1 class='center'><%= @customer.full_name %></h1>
  
  <p><strong>Email: <%= @customer.email %></strong></p>
  <p><strong>Phone number: <%= @customer.phone_number%></strong></p>
  <p><strong>City: <%= @customer.city %></strong></p>
  <p><strong>Country: <%= @customer.country %></strong></p>
  <p><strong>Prefered Language: <%= @customer.language %></strong></p>
  <p><strong>Signed up tours: </strong></p>

    <ul>
      <% @customer.tours.each do |tour| %>
        <li>
          <%= link_to tour.title, tour_path(tour) %> by <%= link_to tour.agency.name, agency_path(tour.agency)%>
          <% customer_tour = CustomerTour.find_join(@customer, tour) %>
          <% if customer_tour.canceled == false %>
            <%= link_to "Cancel Tour", customer_tour_path(customer_tour), class: 'right' %>
          <% else %>
            <p class='red right'>Canceled</p>
          <%end%>
      <% end %>
    </ul>

  <%= link_to "Edit this Customer", edit_customer_path(@customer), class: 'btn' %>
  <%= link_to "Delete Customer", customer_path(@customer), method: :delete, class: 'btn' %>
  <%= link_to "All Customers", customers_path, class: 'btn' %>

</div>