<div class='grey-box'>
  <h1 class='center'>All Tours <% if params[:agency_id]%>
    for <%= current_user.name %>
    <% end %>
  </h1>
  <br>
  <ul>
    <% @tours.each do |tour| %>
      <p>
        <% if !logged_in? %>
        <%= link_to tour.agency.name, agency_path(tour.agency) %> - 
        <%end%>
       <%= link_to tour.title, tour_path(tour) %> has <%= tour.customers.count%> customers signed up</p>
    <% end %>
  </ul>
  <br>
  <% if params[:agency_id] %>
    <%= link_to "Create a Tour", new_tour_path, class: 'btn' %>
  <% end %>
</div>